app-modal {
  display: none;
}

app-modal h2, h3 {
  margin: 0 auto;
}

.modal {
  position: absolute;
  top: 100px;
  left: 40%;
  width: 300px;
  height: auto;
  background-color: rgb(162, 162, 137);
  z-index: 1100;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1000;
}

label {
  margin: 0 auto;
}

.edit {
  width: 200px;
  height: 100px;
}

.modal-footer {
  margin: 0 auto;
  display: inline-block;
}


.modal-footer_no,
.modal-footer_yes{
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 3px;
  background: cornflowerblue;
  padding: 10px 40px;
  vertical-align: top;
  margin: 0 5px;
}

.modal-footer_no:hover {
  background-color: #d27b7b;
}

.modal-footer_yes:hover {
  background-color: #a5c879;
}
