<div class="todo-elem" *ngIf="model">
  <div class="time-container">
    <span class="time">{{model.id | date: "dd.MM.yy"}}</span>
    <span class="time">{{model.id | date: "HH.mm"}}</span>
  </div>
  <span class="importance">{{model.importance}}</span>
  <div class="arrow" #arrow (click)="setLevelImportance()">
    <i class="arrow__importance up"></i>
    <i class="arrow__importance down"></i>
  </div>
  <div class="task-value" [ngClass]="{done: model.done}">{{model.content}}</div>
  <div class="block-icons" (click)="openModal($event)">
    <div class="editTask" id="edit"><i class="fas fa-pencil-alt"></i></div>
    <div class="readiness" [ngClass]="{done: model.done}" (click)="isDoneItemList(model.id)"><i
      class="far fa-check-circle"></i></div>
    <div class="delete" id="delete"><i class="far fa-trash-alt"></i></div>
  </div>
</div>


<!--Modal Windows-->
<app-modal id="m-edit-{{index}}">
  <label>
    Edit Task
    <input class="edit" type="text" [(ngModel)]="content">
  </label>
  <button (click)="closeModal('m-edit')">No</button>
  <button (click)="saveChangeItem(  'm-edit' )">Yes</button>
</app-modal>

<app-modal id="m-delete-{{index}}">
  <div>Delete</div>
  <button (click)="closeModal('m-delete')">No</button>
  <button (click)="saveChangeItem( 'm-delete' )">Yes</button>
</app-modal>
